html
  head
    //- include 引入外部js文件
    srcipt
      include ../a.js
  body
    |abc
    |123

//- <html>
//-   <head>
//-     <srcipt>window.onload = function(){
//-   console.log('hello world')
//- }
//-     </srcipt>
//-   </head>
//-   <body>
//-     abc
//-     123
//-   </body>
//- </html>
