html
  head
    meta(charset="utf-8")
    style
    link(href="../common.css", rel="stylesheet")
  body
    div
      input(id="username", type="text", value="username")
      input(id="password", type="text", value="password")
    srcipt(src="a.js")