html
  head
  body
    -for(var i = 0; i <arr.length; i++)
      div #{arr[i]}

//- <html>
//-   <head></head>
//-   <body>
//-     <div>a</div>
//-     <div>b</div>
//-     <div>c</div>
//-     <div>d</div>
//-   </body>
//- </html>