<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <!-- TODO <%= %> 输出数据到模板（输出是转义HTML标签） -->

  <h2>姓名：<%= json.arr[0].user %>，性别：<%= json.arr[0].gender %></h2>
  <!-- <h2>姓名：roger，性别：male</h2> -->
  
</body>
</html>