<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <!-- TODO <%- %> 输出非转义的数据到模板 -- 原样输出 -->

  <% var str = '<div></div>' %>

  <%- str %>

  <!-- <div></div> -->
</body>
</html>